// _variables.scss
// =================

@import "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800)";

// NEUTRAL COLORS
$black		   	: #111;
$white			: #fff;
$grey			: #5C5C5C;

// MORE COLORS
$dark-green		: #5A702A;
$light-green	: #83A33E;

// FONTS
$head-font : 'Open Sans', sans-serif;
$body-font : 'Open Sans', sans-serif;

